.ContactHeaderContent{
    display: flex;
    justify-content: space-around;
  }
  .ContactHeaderItem {
    height: 40px;
    color: white;
    font-size: 12px;
    line-height: 40px;
    margin: 0 14px 0 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 0 15px 0 0;
  }