*{
  margin:0;
  padding:0;
}
body {
  font: 400 13px/21px 'Open Sans', Arial, Helvetica, sans-serif;
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-variant-east-asian: normal;
font-weight: 400;
font-stretch: normal;
font-size: 13px;
line-height: 21px;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
color: #666;
    background: #fff url(./download.png);
}
/* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


