.logosContent{
    /* width: 90%; */
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
  }
  .responsive-nav{
    display: none;
    /* width: 80%; */
    /* margin: auto; */
    background-color:rgb(49, 1, 139); 

}
.responsive-nav:hover{
cursor: pointer;
}
.nav-icon{
  background-color: #fff;
  padding: 2px;
  width: 20px;
  margin-bottom: 3px;
 

}
.logosContent button{
  /* border: none; */
  background-color:rgb(49, 1, 139); 
  display: none;
}
.hide{
  display: none;
}
 .show{
   display: block;
 }
  @media  (max-width: 767px){
    
       .none{
          display: none;
       }
      .resp{
        display: block;
      }
       .logosContent{
         justify-content: space-around;
       }
       .responsive-nav{
        display: block;
        padding: 6px;
        /* background-color: rgb(49, 1, 139); */
    }
    .logosContent button{
    display: unset;
    }
    
}
@media  (max-width: 540px){
  .logosContent img{
    width: 100%;
  }
}
/* @media  (max-width: 450px){
  .logosContent img{
    width: 100%;
  }
} */