
.form-container{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.form-main-box{
    box-shadow: 0 16px 28px 0 rgb(0 0 0 / 22%), 0 25px 55px 0 rgb(0 0 0 / 21%);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding-bottom: 2em;
    background-color: #f9f9f9;
    padding-top: 1em;
    margin-bottom: 1em;
}
.form-heading-border{
    border-bottom: 2px solid #34465d;
    margin: 0 auto;
    position: relative;
    top: -25px;
    clear: both;
}
.alignh2 {
    position: relative;
    top: 20px;
    text-align: center;
    background-color: #f9f9f9;
    max-width: 335px;
    margin: 0 auto 0 auto;
}
.box-container > .box-heading {
    background-color: #90A4AE;
    /* border: 1px solid #90A4AE; */
    border-radius: 3px 3px 0 0;
    color: #fff;
    font-size: 1.4em;
    margin: 0;
    /* padding: 2px 15px; */
    margin-top: 20px;
}
.form-body{
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.register-num{
    text-align: center;
    padding: 7px;
}
Link:hover{
    text-decoration: none;
}
.width-100{
    width: 115px;
}
/* button{
    width:100% !important;
} */
@media  (max-width: 565px){
.alignh2{
    font-size: 1.7rem !important;
}
}